<h1>Partners register here</h1>
<h2>Register</h2>
<form action="/getin/partner/register" method="POST">
<input type=text name=name placeholder=name> 
<input type=text name=username placeholder=username> 
<input type=password name=password placeholder=password>
<button class= "btn btn-primary">Sign up</button>
</form>

<h2>Login</h2>
<form action="/getin/partner/login" method="POST">
<input type=text name=username placeholder=username> 
<input type=password name=password placeholder=password>
<button class= "btn btn-primary">Login</button>
</form>