<%include ../partials/header%>
<div class="container">
    <header class="jumbotron">
    <div class = "container">
        <h1>Welcome</h1>
        <p> some details can go in here </p>
        <p>
        <form action="/campground/new" method="GET">
        <button id="button4" style="border-radius:10px"> Create a Business</button>
        </form>
        </p></div>

        </header>
        <!-- use this style to fix heigt of images-->
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% campgrounds.forEach(function(x){ %>
        <!-- each image in md takes 3 units -->
        <div class="col-md-3 col-sm-6">
        <a href="/campground/<%=x._id%>" >
            <div class="thumbnail">
            <img src ="<%= x.image %>">
                <div class="caption">
                <h4 ><%= x.name %></h4>
                </div>
               <!-- <p><a href="/campground/<%=x._id%>" class="btn btn-block" id="card-button">More Info</a>-->
               <!-- <p>-->
               </a>
            </div>
        </div>
        <% }); %> 
    </div>
</div>

<%include ../partials/footer%>