<h1> We need a littile bit more information<h1>
<h1> Estimated time of registration: 15 mins <h1>
<h2><%=partner.id%><h2>
<form action="/Dashboard/<%=partner.id%>" method="POST">
<input type=text name=profile[businessName] placeholder="Name of your Business"> 
<input type=text name=profile[ownerName] placeholder="Full name of the owner"> 
<input type=number name=profile[phoneNumber] placeholder="Phone">
<input type=test name=profile[address] placeholder="address of the business">

<img src="https://powerbi.microsoft.com/mediahandler/blog/legacymedia/1452.01.png"/>
<!--
    <input type=text name=operationDays placeholder="Days of operation"> 
<input type=text name=ownerName placeholder=""> 
<input type=number name=phoneNumber placeholder="Phone">
<input type=test name=adress placeholder="address of the business">
-->

<button>submit</button>
</form>
